a:hover{
    background-color: rgba (0, 0, 10, 0.5);
}

.conteiner{
    width: 50%;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    margin-top: 40px;
}
