body{
    margin: 0px;
}

h2{
    padding-left: 20px;
}



hr{
    width: 420px;
    display: inline-block;
    margin-left: 20px;
    height: 2px;
    background-color: black;
}

.white-part p{
    padding-left: 20px ;
}

.conteiner-father{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 167, 167);
}

.conteiner-column{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 700px;
    background-color: white;
}

.conteiner-row{
    display: flex;
    flex-direction: row;
    width: 700px;

}

.black-part{
    height: 400px;
    width: 350px;
    margin-right: 2px;
    background-color: black;
    
}

.conteiner-column-2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
}

.black-part2{
    height: 200px;
    width: 350px;
    background-color: black;
}

.row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 200px;
}

.black-part3{
    width: 174px;
    margin-top: 2px;
    background-color: black;
}

.row-2{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 150px;
}

.white-part{
    width: 524px;
    height: 150px;

}

.last-black-part{
    height: 150px;
    width: 175px;
    margin-left: 5px;
    background-color:black ;
}