body{
    margin: 0px;
}

hr{
    width: 464px;
    height: 2px;
    background-color: black;
}


.conteiner-father{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 167, 167);
}

.conteiner-column{
    display: flex;
    flex-direction: column;
     height: 550px;
     width: 700px;
     
     background-color:white;
}

.conteiner-row{
    display: flex;
    flex-direction: row;
}

.black-part{
    height: 381px;
    width: 50%;
    border-right: 1px solid white;
    background-color: black;
}

.conteiner-column2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.retangulo{
    height: 190px;
    width: 100%;
    background-color: black;
}

.retangulo2{
    height: 190px;
    width: 100%;
    background-color: black;
    border-top: 1px white solid;
}

.white-part{
   display: flex;
   flex-direction: row;
   width: 700px;
   justify-content: center;
   
}

.part2{
    padding-left: 17%;
    width: 350px;
    
}